body{
	background-image: url("Overwatch Main Logo.jpg");
	background-repeat: no-repeat;
	background-size:100%; 
}




.navigation{
	position: fixed;
	top: 15px;
	left:10px;
}
.navigation ul { 
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  background: 	#43484c;
  background: linear-gradient(#f99e1a, #000000);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}
.navigation a:hover {
  background: #43484c;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}



.sections{
	height:100vh;
}

.backtop{
	position: fixed;
	bottom: 10px;
	right:10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.backtop img{
	width: 50px;
	height: 50px;
}
